/* reset */
body {
    background-color: #CDF0EA;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}
/* sidebar */
#menu {
    display: none;
    background: #BEAEE2;
    height: 100%;
    width: 180px ;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-right-radius: 100px ;
    opacity: 0.9;
    

}
#menu a {
    display: block;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: 1s;
    opacity: 1;
}
#menu span {
    display: block;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.div-pesq {
    display: flex;
    align-items: flex-end ;
    justify-content: center;
    
}
.div-pesq input {
    width: 110px;
    margin-left: 0px;
    margin-top: 20px;
    height: 20px;
    padding: 0;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    text-align: center;
    background: none;
    border-style: inset;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div-pesq img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* header */
.header-page-tree {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F7DBF0;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
   
}
.btn-car , .btn-amei {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
}
.header-div-one span {
    font-size: 25px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    
}
.header-div-one img {
    margin-left: 20px ;
    color: black;
    
}
.header-div-one {
    display: flex;
    align-items: center;
}
.header-div-one p {
    color: #BEAEE2;
    font-family: 'Lobster', cursive;
    text-shadow: #8877b1 1px 1px 0px ;
    font-size: 30px;
    margin: 0px 20px;
    padding: 0px;
}
.header-div-two button {
    margin-left: 20px ;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
/* main */
.img-perf {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 209px;
    height: 209px;
    margin-top: 60px;
}
.title-perfumaria {
    font-size: 20px;
    text-align: center;
    color: #BEAEE2;
    text-shadow: #8877b1 2px 4px 0px ;
}
.coluns img {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}
.coluns p {
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
}
.coluns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.coluns div {
    margin: 10px 28px;
}
.coluns p {
    text-align: center;
}

/* frete gratis rodape */
footer div {
    background:black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 150px ;

}
/* carrinho */
.carrinho-compra {
    display: none;
    width: 360px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #CDF0EA;
    display: block;
    overflow: auto;
}
.carrinho-compra header {
    background-color: #F7DBF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 25px;
}
.carrinho-compra  span {
    margin-right: 20px;
}
.carrinho-compra {
    display: none;
    color: #8877b1;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow: white 1px 2px 0px ;
}

.carrinho-compra button {
    border: none;
    font-size: 20px;
    background: none;
    color: #8877b1;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow: white 1px 2px 0px ;
    cursor: pointer;
}
/* eu amei */
.eu-amei {
    display: none;
    width: 360px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #CDF0EA;
    display: block;
    overflow: auto ;
}
.eu-amei header {
    background-color: #F7DBF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 25px;
}
.eu-amei  span {
    margin-right: 20px;
}
.eu-amei {
    display: none;
    color: #8877b1;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow: white 1px 2px 0px ;
}

.eu-amei button {
    border: none;
    font-size: 20px;
    background: none;
    color: #8877b1;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow: white 1px 2px 0px ;
    cursor: pointer;
}
#cart-vazio img {
    margin-top: 5%;
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background: #BEAEE2;
    border-radius: 10px;
}
#cart-vazio p {
    margin-top: 20px;
    font-size: 35px;
}
#amei-vazio img {
    margin-top: 5%;
    width:250px;
    height: 172.5px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
    background: #BEAEE2;
    border-radius: 10px;

}
#amei-vazio p {
    margin-top: 20px;
    font-size: 35px;
}
#apagarcart.apareceritens {
    display: block;
}
#apagarvaziocart.apareceritens {
    display: block;
}
#apagarcart {
    display: none;
}
#apagarvaziocart {
    display: none;
}
.nonelist {
    list-style: none;
}
#Citem{
    margin-top: 15px;
    display: flex;
    border-style:dashed ;
    border-radius: 5px;
    width: 330px;
    padding: 5px 0;
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#Citem ul {
    margin-left: 20px;
    align-items: center;
    align-self: start;
}
#apagarcart ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
#Citem img {
    width: 90px;
    margin-left: 3px;
    height: 90px;
    object-fit: cover;
    

}
#Citem input {
    width: 70px;
    height: 25px;
    align-self: center;
    border: #8877b1 ;
    text-align: center;
    background: #BEAEE2;
    margin: 20px;
    margin-right: 40px;
}
#Citem .excluir {
    font-size: 25px;
}
#Citem .excluiramei{
    margin-left: 50px;
}
#finalPedido {
    text-decoration: none;
    margin-top: 30px;
    border: solid;
    width: 330px;
    border-radius: 10px;
    color: Black;
    background: #BEAEE2;
    text-shadow: none;
    padding: 0 50px;

}
#valores {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 330px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
#apagaritens ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.coluns div{
    padding: 15px;
    background: #BEAEE2;
    border-radius: 10px;
}
#apagaritens {
    display: none;
}
#apagarvazioamei {
    display: none;
}
#apagaritens.apareceritens {
    display: block;
}
#apagarvazioamei.apareceritens {
    display: block;
}
@media (min-width: 800px) {
    .corpo {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-page-tree {
        padding: 0 150px;
    }
    footer  {
        bottom: 0;
        width: 100%;
    }
    .coluns img {
        width: 150px;
        height: 150px;
    }
    #menu {
        width: 360px;
    }
    #menu a {
        font-size: 28px ;
    }
    .div-pesq input {
        width: 200px;
        font-size: 25px ;
    }
    h1 {
        font-size: 70px;
    }
    .img-perf{
        width: 350px;
        height: 350px;
    }
}
@media (min-width: 500px) {
    .eu-amei {
        width: 360px;
    }
    .carrinho-compra {
        width: 360px;
    }
}